/* src/components/top.css */
.top-container {
    width: 100%;
    height: 450px; /* 画面全体の高さを占める */
    background-image: url("../../image/top-back.jpg");
    background-size: cover; /* 背景画像をコンテナに合わせて拡大縮小 */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 繰り返しを無効化 */
    display: flex;
    justify-content: center; /* 中央揃え */
    align-items: center; /* 中央揃え */
    position: relative;
    /* 以下アニメーション */
    opacity: 0; /* 初期状態は透明 */
    transform: translateY(100px); /* 下にオフセット */
    animation: slide-in 1s ease-out forwards; /* アニメーション設定 */
  }

@keyframes slide-in {
    to {
        opacity: 1; /* 最終的に表示 */
        transform: translateY(0); /* 元の位置に移動 */
    }
}


  .top-container h1 {
        font-family: 'Arial', sans-serif; /* 好きなフォントに変更可 */
        font-size: 2.5rem; /* 適宜調整 */
        color: white; /* 白文字 */
        text-align: center; /* 中央揃え */
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* 影を追加 */
        padding: 10px;
    }
