/* src/components/cards */
.cards-container {
    text-align: center;
    align-items: center;
    margin: 0 5%;
    margin-top: 75px;
}

    .cards {
        display: flex;
        gap: 15px;
        margin: 30px 10px;
        justify-content: center; /* 子要素を水平方向に中央揃え */
        align-items: center;    /* 子要素を垂直方向に中央揃え */
    }

    .cards .red {
        background-color: #f5a591;
    }

    .cards .blue {
        background-color: #007e9e;
    }

    .cards .green {
        background-color: #18cd5e;
    }

    .cards .card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 150px;
        width: 200px;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        transition: 400ms;
    }

    .cards .card p.tip {
        font-size: 1em;
        font-weight: 700;
    }

    .cards .card p.second-text {
        font-size: .7em;
    }

    .cards .card:hover {
        transform: scale(1.2, 1.2);
    }

    .cards:hover > .card:not(:hover) {
        transform: scale(0.9, 0.9);
    }
