/* /src/components/about-me */
.about-me-container {
    margin: 40px 0;
    text-align: center;
}

.q-and-a-container{
    justify-items: center;
}

.q-and-a {
    width: 500px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 2%), 0 2px 3px -2px rgba(0 0 0 / 5%);
    background-color: #e9e9e9;
    border-radius: 5px;
}

.q-and-a summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em 1em 3em;
    color: #333333;
    font-weight: 600;
    cursor: pointer;
}

.q-and-a summary::before,
.q-and-a p::before {
    position: absolute;
    left: 1em;
    font-weight: 600;
    font-size: 1.3em;
}

.q-and-a summary::before {
    color: #75bbff;
    content: "Q";
}

.q-and-a summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #333333b3;
    border-right: 3px solid #333333b3;
    content: '';
    transition: transform .5s;
}

.q-and-a[open] summary::after {
    transform: rotate(225deg);
}

.q-and-a p {
    position: relative;
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3em 3em 1.5em;
    color: #333;
    transition: transform .5s, opacity .5s;
}

.q-and-a[open] p {
    transform: none;
    opacity: 1;
}

.q-and-a p::before {
    color: #ff8d8d;
    line-height: 1.2;
    content: "A";
}
