@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

h1, h2, h3, h4, h5, h6, p, summary {
    font-family: 'Noto Sans JP', sans-serif;
}

.app-container{
    background-image: url("./image/doodad.png");
    background-size: cover; /* 背景画像をコンテナに合わせて拡大縮小 */
    background-repeat: repeat; /* 繰り返しを無効化 */
}

.head {
    position: relative;
    padding: .3em 0 .2em 1em;
    border-bottom: 3px solid #696969;
    color: #696969;
    margin: 0 35%;
}

.head::before {
    position: absolute;
    top: 0;
    left: .3em;
    transform: rotate(55deg);
    height: 11px;
    width: 12px;
    background: #8b7474;
    content: '';
}

.head::after {
    position: absolute;
    transform: rotate(15deg);
    top: .6em;
    left: 0;
    height: 8px;
    width: 8px;
    background: #8b7474;
    content: '';
}
