.appeal-container {
    text-align: center;
    margin-top: 90px;
}

.bubble-box {
    position: relative;
    margin-top: 40px;
    padding: 1.8em 1.5em 1em 1.5em;
    border: 2px solid #696969;
    justify-content: center; /* 子要素を水平方向に中央揃え */
    align-items: center;    /* 子要素を垂直方向に中央揃え */
    margin: 5% 20%;
}

.bubble-box > div {
    position: absolute;
    top: -1.15em;
    left: -.5em;
    padding: .4em 1.4em;
    border-radius: 25px;
    background-color: #696969;
    color: #fff;
    font-size: 20px;
}

.bubble-box > div::before {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 8px;
    background-color: #696969;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
}

.bubble-box p {
    margin: 0;
}
